body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    font-size:20px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(116 21 210);
    padding: 20px;
    font-size: 32px;
    color: rgb(116 21 210);
}

.chamada {
    background: rgb(22 28 73);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}
 .categoria-videos {
    display: flex;
    overflow: auto;
    gap: 5px;
 }
 .categoria {
    padding-left: 20px;
    padding-right: 20px;
 }
 .categoria-videos img {
    opacity: 0.5;
    height: 200px;
    margin-top: 13px;
 }
 .categoria-videos img:hover {
    opacity: 1.0;
    border: 0.2px solid rgb(116 21 210);
 }
 .categoria h2 {
    color: rgb(116 21 210);
 }